 

<p>
  <strong>Company:</strong>
  <%= @miscellaneous_expense.company.try(:name) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @miscellaneous_expense.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @miscellaneous_expense.date %>
</p>

<p>
  <strong>Miscellaneous expense type:</strong>
  <%= @miscellaneous_expense.miscellaneous_expense_type %>
</p>


<hr /><%= link_to 'Edit', edit_miscellaneous_expense_path(@miscellaneous_expense) %> |
<%= link_to 'Back', miscellaneous_expenses_path %>
