<%= form_for(utility_expense) do |f| %>
  <% if utility_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utility_expense.errors.count, "error") %> prohibited this utility_expense from being saved:</h2>

      <ul>
      <% utility_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %>
    <%= f.select :company_id, options_from_collection_for_select(Company.all, :id, :name, utility_expense.company_id), class: 'form-control' %>
    <br /><br />
  </div>

  <div class="field">
    <%= f.label :cable %>
    <%= f.number_field :cable, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :gas %>
    <%= f.number_field :gas, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :electric %>
    <%= f.number_field :electric, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :water %>
    <%= f.number_field :water, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :food %>
    <%= f.number_field :food, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <label>Yoga/Meds</label>
    <%= f.number_field :yoga, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :acupunture %>
    <%= f.number_field :acupunture, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :auto %>
    <%= f.number_field :auto, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :fuel %>
    <%= f.number_field :fuel, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :landscaping %>
    <%= f.number_field :landscaping, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :cleaning %>
    <%= f.number_field :cleaning, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :nutritionist %>
    <%= f.number_field :nutritionist, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :total_per_house %>
    <%= f.text_field :total_per_house, class: 'form-control', readonly: true %>
    <br />
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: 'form-control' %>
    <br />
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: 'form-control' %>
    <br />
  </div>

  <div class="actions">
     <%= f.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>

<script type="text/javascript">
  $('#utility_expense_start_date').datepicker({format: 'dd/mm/yyyy'})
  $('#utility_expense_end_date').datepicker({format: 'dd/mm/yyyy'})

  $('input').on('change', function(){
    var totalPerHouse = parseInt($('#utility_expense_cable').val()) + parseInt($('#utility_expense_gas').val()) + parseInt($('#utility_expense_electric').val()) + parseInt($('#utility_expense_water').val()) + parseInt($('#utility_expense_food').val()) + parseInt($('#utility_expense_yoga').val()) + parseInt($('#utility_expense_acupunture').val()) + parseInt($('#utility_expense_auto').val()) + parseInt($('#utility_expense_fuel').val()) + parseInt($('#utility_expense_landscaping').val()) + parseInt($('#utility_expense_cleaning').val()) + parseInt($('#utility_expense_nutritionist').val())
    $('#utility_expense_total_per_house').val(totalPerHouse)
  })
</script>