<center><h1><%= @company.name %></h1></center>
<hr />

<table class="table table-bordered">  
  <tr>
    <th>Month</th>
    <th>Revenue</th>
    <th>Closed Won Total</th>
    <th>Marketing</th>
    <th>Marketing Per CW</th>
    <th>Expenses</th>
    <th>Profit</th>
    <th>ROI</th>
  </tr>
  <tr>
    <td><%= link_to "Jan", month_revenue_figures_company_url(@company.id, params[:year], 01) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 1, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 1, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(1, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(1, params[:year].to_i) %> $</td>
    <td><%= @company.expenses_for_month(1, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 1, params[:year]) - @company.expenses_for_month(1, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(1, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Feb", month_revenue_figures_company_url(@company.id, params[:year], 02) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 2, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 2, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(2, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(2, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(2, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 2, params[:year]) - @company.expenses_for_month(2, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(2, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Mar", month_revenue_figures_company_url(@company.id, params[:year], 03) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 3, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 3, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(3, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(3, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(3, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 3, params[:year]) - @company.expenses_for_month(3, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(3, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Apr", month_revenue_figures_company_url(@company.id, params[:year], 04) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 4, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 4, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(4, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(4, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(4, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 4, params[:year]) - @company.expenses_for_month(4, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(4, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "May", month_revenue_figures_company_url(@company.id, params[:year], 05) %></td>
    
    <td><%= Revenue.revenue_for_a_month(@company, 5, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 5, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(5, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(5, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(5, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 5, params[:year]) - @company.expenses_for_month(5, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(5, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Jun", month_revenue_figures_company_url(@company.id, params[:year], 06) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 6, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 6, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(6, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(6, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(6, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 6, params[:year]) - @company.expenses_for_month(6, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(6, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Jul", month_revenue_figures_company_url(@company.id, params[:year], 07) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 7, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 7, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(7, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(7, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(7, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 7, params[:year]) - @company.expenses_for_month(7, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(7, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Aug", month_revenue_figures_company_url(@company.id, params[:year], 8) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 8, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 8, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(8, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(8, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(8, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 8, params[:year]) - @company.expenses_for_month(8, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(8, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Sep", month_revenue_figures_company_url(@company.id, params[:year], 9) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 1, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 9, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(9, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(9, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(9, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 9, params[:year]) - @company.expenses_for_month(9, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(9, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Oct", month_revenue_figures_company_url(@company.id, params[:year], 10) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 10, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 10, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(10, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(10, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(10, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 10, params[:year]) - @company.expenses_for_month(10, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(10, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Nov", month_revenue_figures_company_url(@company.id, params[:year], 11) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 11, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 11, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(11, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(11, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(11, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 11, params[:year]) - @company.expenses_for_month(11, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(11, params[:year]) %> $</td>
  </tr>
  <tr>
    <td><%= link_to "Dec", month_revenue_figures_company_url(@company.id, params[:year], 12) %></td>
    <td><%= Revenue.revenue_for_a_month(@company, 12, params[:year]) %> $</td>
    <td><%= Revenue.close_down_deals_count(@company, 12, params[:year]) %></td>
    <td><%= @company.marketing_expense_for_month(12, params[:year].to_i) %> $</td>
    <td><%= @company.marketing_per_cw_for_month(12, params[:year]) %> $</td>
    <td><%= @company.expenses_for_month(12, params[:year]) %> $</td>
    <td><%= Revenue.revenue_for_a_month(@company, 12, params[:year]) - @company.expenses_for_month(12, params[:year]) %> $</td>
    <td><%= @company.marketing_roi(12, params[:year]) %> $</td>
  </tr>
</table>