 

<p>
  <strong>Company name:</strong>
  <%= @expense.company_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Payroll type:</strong>
  <%= @expense.payroll_type %>
</p>

<p>
  <strong>Search engine:</strong>
  <%= @expense.search_engine %>
</p>

<p>
  <strong>Month:</strong>
  <%= @expense.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @expense.year %>
</p>

<p>
  <strong>Miscellaneous expense type:</strong>
  <%= @expense.miscellaneous_expense_type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @expense.company_id %>
</p>

<hr /><%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
