<!DOCTYPE html>
<html>
  <head>
    <title>Corporate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', :cache => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', :cache => true %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
